 
  <!-- <ion-header [translucent]="true">

    
  <ion-content [fullscreen]="true" style="background: black;">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-row style="justify-content: center; margin-top: 5%; width: 100%;" >
        
      <ion-col style="display: block; width: 40%;  border: 2px gray solid;"  size='3' >
        <ion-header style="height: 5%; text-align:center; line-height: 5%; ">
          <span style="display: inline-block;vertical-align: middle;line-height: normal;">
            Drinks
          </span>
        </ion-header>
        <ion-card *ngFor="let activeCategory of activeCategories" >
            <div style=" margin-left: auto; margin-right: auto; text-align: center; margin-top: 5%; font-size: large;height: 40px; line-height: 40px;">
              <span style="display: inline-block;vertical-align: middle;line-height: normal;">
                {{activeCategory.name}}
              </span>
            </div>
            <ion-card *ngFor="let drink of activeCategory.drinks" style="display: flex; flex-wrap: nowrap;">
              <ion-img [src]='drink.strDrinkThumb' style="width: 25px; height: 25px;" >
                
              </ion-img>
              <ion-card-content style="margin-top: auto;margin-bottom: auto;">{{drink.strDrink}}</ion-card-content>

            </ion-card>
          </ion-card>
          <ion-card *ngIf='finalResult' style="text-align: center;" >
            thats all =)
          </ion-card>
      </ion-col  >
      <ion-col style="display: block; width: 40%;  border: 2px gray solid; margin-left: 2%; " size="3" >
        <ion-header style="height: 50px; text-align:center; line-height: 50px; ">
          <span style="display: inline-block;vertical-align: middle;line-height: normal;">
            Filters
          </span>
        </ion-header>
        <ion-card *ngFor="let category of categories" style="display: flex; justify-content: space-between;" (click)="toggleActive(category)">
          
          <ion-card-content>
            {{category.name}}
          </ion-card-content>
          <ion-icon *ngIf="category.active" name="checkmark" style="margin-top: auto; margin-bottom: auto; font-size: xx-large;">

          </ion-icon>
        </ion-card>
        <ion-button style="width: 80%; margin-left:10%;" (click) ="addActive()">
          apply
        </ion-button>
      </ion-col>
    </ion-row>


     
  <ion-infinite-scroll threshold="35px" #infiniteScroll (ionInfinite)="getCategory($event)" *ngIf='infiniteLoading && !finalResult'>
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

     </ion-content> -->
     <ion-grid style="width: 100%;">
       <ion-row>
         <ion-col size="12">
           <div style="display: flex; ; " style="width:100%">
            <div style="display:inline-block ; margin-top: auto; margin-left: auto;"  >
              my header content
            </div>
            
            
            <div>
                <ion-icon name='funnel' style=" display:block; margin-left:auto;margin-left: auto; font-size: x-large  ;" (click)= "navigateToFilters() " >
                </ion-icon>
            </div>
            
            
            </div>

           <ion-card *ngFor=" let el of [1,1,1,1,1,1,1,1,1,1]">
             <ion-card-content>
                {{el}}
             </ion-card-content>
           </ion-card>
         </ion-col>
       </ion-row>
     </ion-grid>